{% extends "/admin/layout.html" %}

{% block title %}
<title>Algorithm Page</title>
{% endblock%}

{% block sidebar %}
<li class="nav-item">
    <a href="{{ url_for('admin') }}" class="nav-link text-white" aria-current="page">
        <svg class="bi me-2" width="16" height="16">
        </svg>
        Home
    </a>
</li>
<li>
    <a href="{{ url_for('admin_algorithm')}}" class="nav-link active">
        <svg class="bi me-2" width="16" height="16">
        </svg>
        Algorithms
    </a>
</li>
<li>
    <a href="{{ url_for('admin_dataset') }}" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
        </svg>
        Datasets
    </a>
</li>
<li>
    <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
        </svg>
        Models
    </a>
</li>
{% endblock%}

{% block content %}
<h1 class="text-center">Algorithms</h1>
<h3 class="ps-3">List of Available Algorithm</h3>
{% if algorithms_dict.keys() | length < 1 %} <h4>No algorithm available. Please contact the web administrator.</h4>
    {% else %}
    <div class="px-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-1">#</th>
                    <th class="col-5">Name</th>
                    <th class="col-4">Source</th>
                </tr>
            </thead>
            <tbody>
                {% for key, val in algorithms_dict.items() %}
                <tr>
                    <th scope="row" class="col-1">{{ loop.index }}</th>
                    <td class="col">{{ val['name'] }}</td>
                    <td class="col">{{ val['source'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p class="ps-3 text-muted">You want to add new algorithm? Contact the web administrator.<br><small>It's still
            hard-coded in the back-end hehe</small></p>
    {% endif %}
    {% endblock %}