<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Algorithm Data</title>
</head>
<body>
    <form action="" method="post">
        <input type="hidden" name="algorithm_id" value="{{algorithm_data.id}}">
        <label for="">Algorithm name</label><br>
        <input type="text" name="algorithm_name" id="" value="{{algorithm_data.name}}"><br>
        <input type="submit" value="Update">
    </form>
</body>
</html>